/*===============
RESET SELECTOR
================ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* =======
FONTS
=========== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&display=swap');








/*===============
    BODY
================ */
body {
  font-family: 'Lexend Deca', sans-serif;
  background: hsl(233, 47%, 7%);
}














/*===============
ENTIRE CARD
================ */
/* The main card selector */
.card {
  height: 400px;
  display: flex;
  margin: 120px 300px 50px;
  border-radius: 10px;
}

/* Selecting the section with the text */
.txt-side {
  font-family: 'Inter', sans-serif;
  border-radius: 10px 0px 0px 10px;
  background: hsl(244, 38%, 16%);
  display: inline-block;
  padding: 45px 0px;
  width: 600px;
}
/* Giving a little margin to the txt side */
.margin {
  margin-left: 80px;
}
/* The main text in the text side */
header {
  color: hsl(0, 0%, 100%);
  width: 70%;
}
/* The purple highlight within the header */
header span {
  color: hsl(277, 64%, 61%);
}

/* The main information */
main p {
  color: hsla(0, 0%, 100%, 0.75);
  margin: 30px 0px 0px 0px;
  width: 357px;
  line-height: 20px;
}

/* The stats section */
footer {
  margin: 70px 0px 0px 0px;
  display: flex;
  width: 60%;
  justify-content: space-between;
}
footer p {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  color: hsl(0, 0%, 100%);
}
footer p span {
  font-family: 'Inter', sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 14px;
  font-weight: 100;
}












/*===============
IMAGE SECTION
================ */
.hero-side {
  width: 500px;
  height: 400px;
}
.hero {
  border-radius: 0px 10px 10px 0px;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-image: url(images/image-header-desktop.jpg);
}
.hero .accent {
  border-radius: 0px 10px 10px 0px;
  width: 100%;
  height: 100%;
  background: hsla(277, 64%, 61%, 50%);
}












/*===============
ATTRIBUTION
================ */
.attribution {
  color: hsl(0, 0%, 99%);
  font-size: 21px;
  text-align: center;
}

.attribution a {
  color: hsl(0, 0%, 0%);
}





























/*===============
@MEDIA QUERIES
================ */
/*===============
WORKS THE RULES RHEN THE MAXIMUM WIDTH IS 375PX
================ */
@media screen and (max-width: 375px) {



  /*===============
ENTIRE CARD
================ */
  .card {
    flex-direction: column-reverse;
    margin: 40px auto 0px;
    width: 300px;
    height: 700px;
  }







  /* ===========
    TEXT CONTAINER
    =============== */
  .txt-side {
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    height: 500px;
    width: 300px;
    display: block;
  }

  /*REMOVES MARGIN FROM THE HEADING */
  .margin {
    margin-left: 0px;
  }

  /* THE HEADING */
  header {
    width: 278px;
    margin: -20px auto 0px;
  }
  /* MAIN PARAGRAGH */
  main p {
    margin: 20px auto 0px;
    width: 250px;
  }
  /* STATS */
  footer {
    height: 220px;
    margin: 30px auto;
    flex-direction: column;
  }









  
  /*================
     IMAGE CONTAINER
    ================ */
  .hero-side {
    height: 200px;
    width: 300px;
  }
  /* PURPLE COLOR ABOVE IMAGE */
  .hero .accent {
    border-radius: 10px 10px 0px 0px;
  }

  /* IMAGE */
  .hero {
    border-radius: 10px 10px 0px 0px;
  }
}
